doctype html
html
  head
    title StickerStore
  body
    h1 Welcome to Sticker Store
    button(type = "button") Create identity
    button(type = "button") Log In
    br
    footer
      p Copyright &copy; Sri Sanketh Uppalapati 2018
  script.
    function move(loc) {
      window.location.href = loc
    }
